# Identitas Mahasiswa
# Nama  : Muhammad Irsyad Dimas Abdillah
# Kelas : TI-3F
# Absen : 14

APP_NAME=Tugas PaaS - Muhammad Irsyad Dimas Abdillah (TI-3F/14)
DJANGO_SECRET_KEY=
DEBUG=False
DJANGO_ALLOWED_HOSTS=*
DJANGO_ENV=production
