# Identitas Mahasiswa
# Nama  : Muhammad Irsyad Dimas Abdillah
# Kelas : TI-3F
# Absen : 14

APP_NAME=Tugas PaaS - Muhammad Irsyad Dimas Abdillah (TI-3F/14)
DJANGO_SECRET_KEY=y1d_kt6$g^4!&x=1a+%8*sq7q+a0rv$f+4cf6sivgt-$d$*kr7
DEBUG=False
DJANGO_ALLOWED_HOSTS=*
DJANGO_ENV=production
